<!-- app/views/users/show.html.erb -->
<!-- Display user details -->

<div class="profile-container">
  <h1>Current User</h1>

  <%= link_to "My Cars available to rent", car_listings_path(current_user) %>
</div>
