<div class="container_profile">
  <div>
    <h1>Welcome <%=current_user.email%></h1>
  </div>

  <div class=container_profile_cars>

    <div class="card_cars_offered">
      <h3>My cars available to rent</h3>
      <% @user.cars.each do |car| %>
        <li> <%=car.model%> </li>
     <% end %>
    </div>

    <div class=card_cars_rented>
      <h3>Cars I've rented</h3>
      <% @user.cars.each do |car| %>
        <li> <%=car.model%> </li>
      <% end %>
    </div>

  </div>
</div>
