.card_car {
  width: 750px;
  height: 235px;
  background-color: white;
  box-shadow: 0 0 3px gray;
  margin-top: 16px;
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.card_image {
  img {
    width: 300px;
    height: 200px;
  }
  .carousel {
    width: 300px;
    height: fit-content;
  }

}

.index-card-image {
  width: 200px;
  height:200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 8px $licorice;
}

.card_car_details {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.card_car_info {
  height: auto;
  width: auto;
  text-align: end;
  h2 {
    color: $licorice;
  }
}

.card_car_show {
  width: 100%;
  height: auto;
  display: flex;
  // padding-bottom: 32px;
  border-bottom: 2px solid $sage_green;
  h1 {
    font-weight: bold;
  }
}

.card_show_image {
  height: 400px;
  width: 400px;
  background-size: cover;
  margin-right: 16px;
}

.show_p {
font-family: "Scope One";
color: $licorice;
font-size: 20px;
}

.card_show_details {
  width: auto;
  height: auto;
  // text-align: right;
  flex-grow: 1;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_cars_offered, .card_cars_rented {
  width: 500px;
  height: auto;
  box-shadow: 0px 0px 3px grey;
  border-radius: 10px;
  padding: 32px;
  text-align: center;
  margin: 32px 0;
  background-color: #FFF5B2
}

.car_card_header {
  width: 100%;
  height: 125px;
  h1 {
    color: $orange;
    margin-bottom: 16px;
  }
}

.card_car_description_header {
  width: 100%;
  height: 50px;
  overflow-wrap: break-word;
}

.car_show_details_row {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_profile_background_image {
  background-image: url('background-user-profile.jpg');
  background-size: cover;
  height: 100%;
  opacity: 1;
}

.listings {
  padding-left: 32px;
}

// .colour_location {
//   p {
//     color: $orange;
//   }
// }
