.card_car {
  width: 750px;
  height: 235px;
  background-color: white;
  box-shadow: 0 0 3px gray;
  margin-top: 16px;
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.card_image {
  img {
    width: 300px;
    height: 200px;
  }
  .carousel {
    width: 300px;
    height: fit-content;
  }

}

.index-card-image {
  width: 200px;
  height:200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 8px $licorice;
}

.card_car_details {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.card_car_info {
  height: auto;
  width: auto;
  text-align: end;
  h2 {
    color: $licorice;
  }
}

.card_car_show {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 32px;
  border-bottom: 2px solid $sage_green;
  h1 {
    font-weight: bold;
  }
}

.card_show_image {
  width: 550px;
  height: 550px;
  background-size: cover;
  margin-right: 32px;
}

.show_p {
font-family: "Pacifico";
color: $orange;
font-size: 20px;
}

.card_show_details {
  width: 800px;
  height: auto;
}

.card_cars_offered, .card_cars_rented {
  width: 500px;
  height: auto;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 32px;
  text-align: center;
  margin: 32px 0;
  background-color: #EEE0CB;
}

.user_profile_background_image {
  background-image: url('background-user-profile.jpg');
  background-size: cover;
  height: 100%;
}
