.navbar-lewagon {
  justify-content: space-between;
  background: #9EBC9F;
  position: sticky;
  top: 0;
  border-bottom: solid #656256;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#navbarSupportedContent {
  font-family: 'Scope One', serif;
  font-weight: bolder;
}
