<div class="container_home">

  <div class="banner_home">
    <h1>Welcome to Motourist</h1>
    <p>Rent a vintage motor!</p>
  </div>

  <div class="container_cards">

    <div class="card_car">
      <div>Car Make & Model</div>
      <div>Car_Image</div>
      <div>Price</div>
      <div>View More Details</div>
      <div>BOOK ME</div>
    </div>
    <div class="card_car">
      <div>Car Make & Model</div>
      <div>Car_Image</div>
      <div>Price</div>
      <div>View More Details</div>
      <div>BOOK ME</div>
    </div>

  </div>

</div>
