<div class="container_show">

  <div class="card_car_show">
  </div>

  <div>

  </div>

  <% if @car.user == current_user %>
   <%= link_to "Edit this car", edit_car_path(@car) %>
  <% end %>

</div>
