<div class="footer p-4">
    <div class="d-flex justify-content-between w-100">
      <div id="footer-font">
        <h3>Motourist Inc.</h3>
        <p>5 Broom Broom Avenue<br>Little Beeping<br>London<br>NW54 6LP</p>
      </div>
      <div class="d-flex align-items-end" id="footer-icons">
        <a href="https://www.facebook.com" target="_blank">
            <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fa-brands fa-square-twitter"></i>
        </a>
      </div>
    </div>
</div>
